body{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.ofertas{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

.location{
    display: flex;
    flex-direction: row;
}

.location p{
    margin: 1rem;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #F0A83E;
    padding: 1rem;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li{
    margin: 1rem;
}

.logo{
    width: 14rem;
    height: 2rem;        
}

main{
    background-image: url(../img/bowl-and-pet-daities-on-green-background\ 1.png);
    background-size: cover;
    height: 50rem;
}

.placer{

    background-color: white;
    color: black;
    border-radius: 2%;
}

.textoMain{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;

}

button{
    background-color: orange;
    color: white;
    border: none;
}

.patitaOrange{
}

.productos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.cards{

    display: flex;
    justify-content: center;
    flex-direction: row;


}

a{
    text-decoration: none;
    color: #666666;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.card p{
    color: #F0A83E;
}

h6{
    font-size: 15px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    background-color: #3C2313;
    color: white;
    border-radius: 15px;
    width: 340px;
    height: 40px;
    font-size: 9px;
    line-height: 11px;
}

.inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}